<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/Styles.css">
    <script src="/Js/Script.js"></script>
    <title>Spartanz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <video id="backgroundVideo" autoplay muted loop>
        <source src="/Images/WebsiteBG.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <header class="navbar">
        <div class="logo">
            <img src="Images/Cypherix.png" alt="Cypherix Logo" style="height: 20vh">
        </div>

    <div class="hamburger" onclick="toggleMenu()">
        <img src="Images/thumb.png" alt="">
    </div>
    <nav class="nav-links"> 
        <a href="/" class="<%= page === 'home' ? 'selected' : '' %>">Home</a>
        <a href="/Events" class="<%= page === 'events' ? 'selected' : '' %>">Events</a>
        <a href="/Teams" class="<%= page === 'teams' ? 'selected' : '' %>">Teams</a>
        <a href="#" class="<%= page === 'contact' ? 'selected' : '' %>">Contact Us</a>
    </nav>
    <nav class="nav-links mobile-menu">
        <a href="/" class="<%= page === 'home' ? 'selected' : '' %>">Home</a>
        <a href="/Events" class="<%= page === 'events' ? 'selected' : '' %>">Events</a>
        <a href="/Teams" class="<%= page === 'teams' ? 'selected' : '' %>">Teams</a>
        <a href="#" class="<%= page === 'contact' ? 'selected' : '' %>">Contact Us</a>
    </nav> 
    </header>
    <%- body %>
    
</body>
</html>